{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <div class="jumbotron jumbotron-fluid text-center" style="background-color: #5c5152;">
        <h1 class="font-weight-bold">Nuit de l'info 2019</h1>
        <img src="assets/images/PCL_logo.png" alt="Logo des créateurs du site" data-toggle="modal" data-target="#exampleModalCenter" width=150>
              
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-center" id="exampleModalCenterTitle">Les développeurs</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Parti du code libre du CESI Strasbourg</h3>
                        <p>
                        <strong>WEIMANN Théo</strong> - Intégrateur JeanCloud</br>
                        <strong>DE GROSSI Hugo</strong> - Développeur error 404 </br>
                        <strong>CARRE Etienne</strong> - UX Designer</br>
                        <strong>VELTEN Baptiste</strong> - Développeur Chatbot</br>
                        <strong>AMARY Clément</strong> - Rickroller</br>
                        </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #aba0a0; width: 90%">
        <article class="m-4 p-4">
            <h1 class="font-weight-bold text-center">Des étudiants de plus en plus confrontés à la précarité</h1>
            <div>
                <h3 class="font-weight-bold text-center">Introduction</h3>
                <p>Aujourd'hui, près de 10% des étudiants sont confrontés à des situations de précarité. </br>
                Cette précarité augmente considérablement les risques de décrochage scolaire des étudiants et compromettent donc leurs chances de réussite dans leur parcours scolaire et notamment au cours de leurs études supérieures. </br>
                De nombreux étudiants confrontés à ce type de situations abandonnent leurs études ou subissent des redoublements ou réorientations fréquents. </br>
                Cette précarité des étudiants est très souvent dûe à de nombreuses causes comme une précarité économique, de mauvaises conditions de logement, des problèmes administratifs, ruptures familiales, problèmes de santé et de nombreuses autres causes ... </br>
                Ces différents facteurs fragilisent les étudiants dans leur parcours scolaire et les exposent à différents risques qui peuvent intervenir et former un cercle vicieux tel que l'isolement social ou un épuisement moral.
                </p>
            </div>
        </article>
    </div>
</main>

{% endblock %}