{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main>
    <div class="jumbotron jumbotron-fluid text-center" style="background-color: #5c5152;">
        <h1 class="font-weight-bold">Nuit de l'info 2019</h1>
        <h3 class="font-weight-bold mb-4"><span style="color: white">Parti du </span><span style="color: orange">Code </span><span style="color: white">Libre (de CESI Strasbourg)</span></h3>
        <img src="assets/images/PCL_logo.png" alt="Logo des créateurs du site" data-toggle="modal" data-target="#staticBackdrop" width=150>
        <h6 class="mt-4" style="color: white;">Cliquez sur le logo pour voir les informations de l'équipe de développement</h6>
              
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Les développeurs</h5>
                    </div>
                    <div class="modal-body">
                        <h3>Parti du code libre de CESI Strasbourg</h3>
                        <p>
                        <strong>WEIMANN Théo</strong> - Intégrateur JeanCloud</br>
                        <strong>DE GROSSI Hugo</strong> - Développeur error 404 </br>
                        <strong>CARRE Etienne</strong> - UX Designer</br>
                        <strong>VELTEN Baptiste</strong> - Développeur Chatbot</br>
                        <strong>AMARY Clément</strong> - Rickroller</br>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="close" data-toggle="modal" data-target="#multipleStaticBackdrop" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="assets/images/pouet_pouet.jpg" download><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <a href="https://www.youtube.com/watch?v=GnrwM7vFn_U&t=34s"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <button type="button" class="close" data-toggle="modal" data-target="#multipleStaticBackdrop" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="assets/images/pouet_pouet.jpg" download><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="assets/images/pouet_pouet.jpg" download><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="assets/images/pouet_pouet.jpg" download><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" data-toggle="modal" data-target="#multipleStaticBackdrop" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="https://www.youtube.com/watch?v=GnrwM7vFn_U&t=34s"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <a href="assets/images/pouet_pouet.jpg" download><button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                        <button type="button" class="close" data-toggle="modal" data-target="#multipleStaticBackdrop" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>    
        </div>

        <div class="modal fade" id="multipleStaticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Work in progress</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <a data-dismiss="modal" class="font-weight-bold"> Loading ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Work in progress</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <a data-dismiss="modal" class="font-weight-bold"> Loading ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Work in progress</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <a data-dismiss="modal" class="font-weight-bold"> Loading ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Work in progress</h5>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                                <a data-dismiss="modal" class="font-weight-bold"> Loading ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: #aba0a0; width: 90%; display: flex; justify-content: center; align-content: center">
        <article class="m-4 p-4">
            <h1 class="font-weight-bold text-center">Des étudiants de plus en plus confrontés à la précarité</h1>
            <div class="container m-4 p-4" style="background-color: #edeaea;">
                <h3 class="font-weight-bold text-center my-4">Introduction</h3>
                <p>Aujourd'hui, près de 10% des étudiants sont confrontés à des situations de précarité. </br>
                Cette précarité augmente considérablement les risques de décrochage scolaire des étudiants et compromettent donc leurs chances de réussite dans leur parcours scolaire et notamment au cours de leurs études supérieures. </br>
                De nombreux étudiants confrontés à ce type de situations abandonnent leurs études ou subissent des redoublements ou réorientations fréquents. </br>
                Cette précarité des étudiants est très souvent dûe à de nombreuses causes comme une précarité économique, de mauvaises conditions de logement, des problèmes administratifs, ruptures familiales, problèmes de santé et de nombreuses autres causes ... </br>
                Ces différents facteurs fragilisent les étudiants dans leur parcours scolaire et les exposent à différents risques qui peuvent intervenir et former un cercle vicieux tel que l'isolement social ou un épuisement moral. Ainsi que des carences alimentaires, un renoncement aux soins, des addictions, ... ... ...
                </p>
            </div>
            <div class="container m-4 p-4" style="background-color: #edeaea;">
                <h3 class="font-weight-bold text-center my-4">Les causes de cette précarité</h3>
                <div><p>La plupart des étudiants se retrouvent face à de nombreuses problématiques </br></p>
                    <p><h6>- Une multiplication des démarches</h6>
                    Dès lors qu'un étudiant entre dans ses études supérieures, il se retrouve dans une phase d'apprentissage de l'autonomie, avec une prise en charge progressive des démarches de la vie courante comme par exemple le logement, la santé, les diverses inscriptions, ... ce qui peut être très difficile à aborder pour de nombreux étudiants. </br>
                    La précarité accroît les difficultés liées à cet apprentissage par une multiplication des démarches à accomplir, qui peuvent être interdépendantes. </br></p>
                    <p><h6>- Un éparpillement des ressources</h6>
                    Les services proposés par les établissements universitaires disposent souvent d'administrations différentes, dans des lieux différents et avec des horaires qui ne sont pas les mêmes (logement, bourses, ...). </br>
                    Les droits dont disposent les étudiants ne sont pas toujours bien renseignés ni accessibles (CAF, transports, ...) </br>
                    Les associations d'aide aux étudiants précaires ne sont pas toujours très visibles. </br></p>
                    <p><h6>- Une fragilisation sociale et morale</h6>
                    Déficit du soutien familial </br>
                    Sentiment de vulnérabilité </br>
                    Déficit de maîtrise des codes administratifs </br>
                    Non-retour aux droits </br></p>
                </div>
            </div>
            <div class="container m-4 p-4" style="background-color: #edeaea;">
                <h3 class="font-weight-bold text-center my-4">Notre solution</h3>
                <p>
                    Pour apporter une solution novatrice, accessible à tous les étudiant afin de répondre à leurs besoins et leur proposer des possibilités d'aides, des solutions de débrouille ainsi qu'une expertise dans les connaissances de leurs droits. Nous avons décidé de mettre en place un forum d'échange entre professionnels des aides sociales, étudiants "experts" et étudiants "novices" afin de leur permettre d'avoir des informations à tout moment et ce durant toute leur scolarité. Ce forum permettra également aux étudiants "novices" de pouvoir par la suite aider de nouveaux étudiants à prendre connaissances de leurs droits et des possibilités qui s'offrent à eux.
                </p>
            </div>
        </article>
    </div>
</main>

{% endblock %}